.ProfilePage{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding: 35px;
    width: 100%;
    height: calc(100% - 130px);
}

.Page{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 10px;
}