.LeadsPage{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    padding: 35px;
    max-width: 100%;
    height: calc(100% - 130px);
}

.Page{
    max-width: calc(1440px - 280px - 70px);
    overflow-x: scroll;
    height: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    gap: 5px;
}