.CheckBox{
    display: flex;
    align-items: center;
    cursor: pointer;
    height: max-content;
    gap: 10px;
    & input[type="checkbox"]{
        display: none;
    }
    & input[type="checkbox"] + span{
        position: relative;
        padding-left: 40px;
        height: 30px;
        display: flex;
        align-items: center;
        color: #8E99A8;
        user-select: none;
        font-size: 20px;
        @media (max-width: 1000px) {
            font-size: 16px;
        }
        @media (max-width: 375px) {
            font-size: 14px;
        }
    }
    & input[type="checkbox"] + span::before{
        content: '';
        position: absolute;
        border-radius: 10px;
        line-height: 5px;
        transition: all 200ms;
        top: 0;
        left: 0;
        width: 30px; /* Размер кастомной галочки */
        height: 30px; /* Размер кастомной галочки */
        box-shadow: 1px 1px 5px 1px rgba($color: #A3A3A3, $alpha: 0.1); /* Цвет границы кастомной галочки (чёрный) */
        background-color: white; /* Цвет фона (белый) */
    }
    & input[type="checkbox"]:checked + span::before{
        content: '\2713'; /* Юникод символ для галочки */
        text-align: center;
        line-height: 30px; /* Выравнивание галочки вертикально по центру */
        color: black; /* Цвет галочки (чёрный) */
    }
}